@import 'tailwindcss';

:root {
  --background: #0a0a0a;
  --foreground: #ededed;

  --font-default: var(--font-industry), sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-default);
}
